* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
    background: radial-gradient(#464630, #40402c);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: radial-gradient(#9d8c43, #c4af53);
}


@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format('ttf');
}

body {
    background-color: rgba(211, 208, 189, 0.93);
    color: #3a3a3a;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 40px;
}

.col-title {
    font-weight: 500;
}

.column {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: rgba(0, 0, 0, 0.26) 1px solid;
    box-shadow: inset rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    min-width: 100px;
    max-width: 300px;
    margin-bottom: 20px;
}

.column1 {
    order: 1;
}

.column2 {
    order: 2;
}

.column3 {
    order: 3;
}

.column4 {
    order: 4;
}

li {
    list-style: none;
}

.none {
    display: none;
}

.btn-task-add {
    width: 18px;
}

.todo-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid #808080;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}

.create-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-form > label:nth-child(4) {
    margin-top: 10px;
}

.create-form > input {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #808080;
    background-color: rgba(255, 255, 255, 0.7);
}

.create-form > button {
    margin-top: 10px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #808080;
    background-color: whitesmoke;
}

.create-form > input[type="submit"]:hover {
    background-color: #3a3a3a;
    color: white;
    transition-duration: .5s;
}

.create-form label {
    color: #7c4e09;
}

form > input {
    margin-top: 10px;
}

.task-count-label {
    margin-top: 10px;
}

.todo-title {
    color: #7c4e09;
    word-break: break-word;
    font-weight: 600;
}

.todo-tasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.todo-tasks > span {
    margin-top: 10px;
}

.task-title-input {
    border-radius: 20px;
    border: 1px solid #808080;
    padding: 5px;
    width: 120px;
    margin-right: 5px;
}

.submit-btn {
    border-radius: 20px;
    border: 1px solid #808080;
    background-color: whitesmoke;
    width: 20px;
}

.submit-btn:hover {
    background-color: #7c4e09;
    transition-duration: .3s;
}

.add-task-form {
    display: flex;
}

.task {
    display: flex;
    align-items: center;
    margin: 5px 10px 5px 5px;
}

.task-title {
    margin: 0 10px 0 0;
    word-break: break-word;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: inset rgba(204, 204, 203, 0.25) 0 0 10px;
    font-size: 14px;
}

.create-form > span {
    margin-top: 10px;
}

.date-input {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.date-input > input {
    border-radius: 20px;
    border: 1px solid #808080;
    padding: 10px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

.deadline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

.delete-block > button {
    border: none;
    background: none;
}

.delete-block > button:hover {
    cursor: pointer;
    color: #cc2929;
}

.form-container {
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
}

.edit-form > label:first-child {
    font-weight: 500;
    border-bottom: 2px solid;
    padding: 2px;
    width: 100px;
    text-align: center;
}

.edit-form > label {
    margin-top: 10px;
}

.edit-form {
    transition-duration: 1s;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.btns {
    display: flex;
}

.arrow-right {
    margin-left: auto;
}

.edit-btn {
    align-self: end;
    margin-top: 10px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #808080;
    background-color: whitesmoke;
}

.edit-btn:hover {
    background-color: #3a3a3a;
    color: white;
    transition-duration: .5s;
}

.reason-input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}

.reason-input > input {
    padding: 3px;
    border-radius: 20px;
    border: 1px solid #808080;
    background-color: rgba(255, 255, 255, 0.7);
}

.reason-input > button {
    margin-top: 3px;
    padding: 3px;
    border-radius: 20px;
    border: 1px solid #808080;
    background-color: whitesmoke;
}

.reason-input > button:hover {
    background-color: #3a3a3a;
    color: white;
    transition-duration: .5s;
}
.on-time {
    color: green;
    border-bottom: 1px solid green;
}
.not-on-time {
    color: #cc2929;
    border-bottom: 1px solid #cc2929;
}